.container {
    background-color: rgb(243, 245, 241);
    height: 100vh;
    position: absolute;
    right: 0;
  
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(112, 113, 110)
}

#logo {
    border-radius: 50%;
    width: 50%;
    left: 20%;
    margin: 5% 23% 50%;
}

header {
    height: 100vh;
    background-color: rgb(223, 228, 223);
    position: absolute;
    width: 135px;
    left: 0;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;

}