* {
    font-family: 'Manjari', sans-serif;
}

.container {
    background-color: rgb(243, 245, 241);
    
}

a {
    text-decoration: none;
    color: rgb(57, 67, 53);
}

a:hover {
    color:rgb(186, 187, 184)
}

#logo {
    border-radius: 50%;
    width: 125px;
    margin: 20% auto 70%;
}

header {
    height: 100vh;
    background-color: rgb(223, 228, 223);
    width: 190px;
    left: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.body-container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    header {
      display: none;
    }
  }

  #navigation-container {
      display: flex;
      flex-direction: column;
  }


 #navigation-container ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 20vh;
      background-color: rgb(234, 239, 234);
      justify-content: space-around;
  }

  #navigation-container p {
      margin-top: 1.5rem;
  }

  .row-img {
      width: 500px;
  }