.container {
    background-color: rgb(243, 245, 241);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(112, 113, 110)
}

#logo {
    border-radius: 50%;
    width: 110px;
    margin: 20% auto;
}

header {
    height: 100vh;
    background-color: rgb(223, 228, 223);
    width: 180px;
    left: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.body-container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    header {
      display: none;
    }
  }